/*中间的列表*/
/**/
.informationList{
    margin: 0 auto;
    width: 90%;
}
.informationList_line{
    width: 100%;
    display: flex;
    height: 48px;/*高度作为line-height的居中高度*/
    background-color:#FFFFFF;
    border: solid 1px rgb(204,204,204);
    border-radius: 5px;
}
.informationList_inline{
    width: 100%;
    height: 48px;
    line-height: 48px;
}
.informationList_lineTitle{
    font-weight: bolder;
    font-size: 16px;
}
/*修改/删除/查看*/
/**/
.informationManage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 0;
    width:120px;
    height: 100%;
}
.changeInformation,.showInformation{
    color: rgb(66,160,214);
    cursor: pointer;
}
.deleteInformation{
    color: red;
    cursor: pointer;
}
/**/
/*修改/删除*/

/*勾选图标*/
/**/
.selectIcon{
    position: absolute;
    top:14px;/*(48-20)/2*/
    left: 10px;
    width: 20px;
    height: 20px;
    background-image: url("../../images/unselected.png");
    background-size: 100%;
}
/**/
/*勾选图标*/


/**/
/*中间的列表*/
